<a href="https://colab.research.google.com/github/JoaquinGonzalezSimon/Data_science_and_ML_from_Medium/blob/main/220624_Comparison_of_Classification_Algorithms_in_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### This project was taken from the following link and I use it to practice my skills

https://thecleverprogrammer.com/2021/10/02/comparison-of-classification-algorithms-in-machine-learning/

https://medium.com/coders-camp/180-data-science-and-machine-learning-projects-with-python-6191bc7b9db9

In [11]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.naive_bayes import BernoulliNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.svm import SVC

In [3]:
data = pd.read_csv('https://raw.githubusercontent.com/amankharwal/Website-data/master/social.csv')

In [4]:
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [5]:
x = np.array(data[['Age', 'EstimatedSalary']])
y = np.array(data['Purchased'])

In [6]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.1, random_state=42)
xtrain.shape, xtest.shape, ytrain.shape, ytest.shape

((360, 2), (40, 2), (360,), (40,))

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              400 non-null    int64
 1   EstimatedSalary  400 non-null    int64
 2   Purchased        400 non-null    int64
dtypes: int64(3)
memory usage: 9.5 KB

In [12]:
decisiontree = DecisionTreeClassifier()
logisticregression = LogisticRegression()
knearestneighbors = KNeighborsClassifier()
svm_classifier = SVC()
bernoulli_naivebayes = BernoulliNB()
passiveAggressive = PassiveAggressiveClassifier()

In [14]:
knearestneighbors.fit(xtrain, ytrain)
decisiontree.fit(xtrain, ytrain)
logisticregression.fit(xtrain, ytrain)
svm_classifier.fit(xtrain, ytrain)
bernoulli_naivebayes.fit(xtrain, ytrain)
passiveAggressive.fit(xtrain, ytrain)

PassiveAggressiveClassifier()

In [15]:
data1 = {'Classification Algorithms': ['KNN Classifier', 'Decision Tree', 'Logistic Regression', 'SVM Classifier', 'BernoulliNB', 'Passive Aggressive'],
         'Score': [knearestneighbors.score(x,y), decisiontree.score(x,y), logisticregression.score(x,y), svm_classifier.score(x,y), 
                   bernoulli_naivebayes.score(x,y), passiveAggressive.score(x,y)]}

In [17]:
data1

{'Classification Algorithms': ['KNN Classifier',
  'Decision Tree',
  'Logistic Regression',
  'SVM Classifier',
  'BernoulliNB',
  'Passive Aggressive'],
 'Score': [0.875, 0.98, 0.6425, 0.7725, 0.6425, 0.6425]}

In [18]:
score = pd.DataFrame(data1)
score

  Classification Algorithms   Score
0            KNN Classifier  0.8750
1             Decision Tree  0.9800
2       Logistic Regression  0.6425
3            SVM Classifier  0.7725
4               BernoulliNB  0.6425
5        Passive Aggressive  0.6425