<a href="https://colab.research.google.com/github/JoaquinGonzalezSimon/Data_science_and_ML_from_Medium/blob/main/220617_News_Classification_with_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### This project was taken from the following link and I use it to practice my skills

https://thecleverprogrammer.com/2021/10/07/news-classification-with-machine-learning/

https://medium.com/coders-camp/180-data-science-and-machine-learning-projects-with-python-6191bc7b9db9

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/amankharwal/Website-data/master/bbc-news-data.csv', sep='\t')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  2225 non-null   object
 1   filename  2225 non-null   object
 2   title     2225 non-null   object
 3   content   2225 non-null   object
dtypes: object(4)
memory usage: 69.7+ KB

In [3]:
data.head()

,category,filename,title,content
0,business,001.txt,Ad sales boost Time Warner profit,Quarterly profits at US media giant TimeWarne...
1,business,002.txt,Dollar gains on Greenspan speech,The dollar has hit its highest level against ...
2,business,003.txt,Yukos unit buyer faces loan claim,The owners of embattled Russian oil giant Yuk...
3,business,004.txt,High fuel prices hit BA's profits,British Airways has blamed high fuel prices f...
4,business,005.txt,Pernod takeover talk lifts Domecq,Shares in UK drinks and food firm Allied Dome...

In [4]:
data.category.value_counts()

sport            511
business         510
politics         417
tech             401
entertainment    386
Name: category, dtype: int64

In [5]:
data.isnull().sum()

category    0
filename    0
title       0
content     0
dtype: int64

In [6]:
df = data[['title', 'category']]

x = np.array(df['title'])
y = np.array(df['category'])

In [7]:
cv = CountVectorizer()
X = cv.fit_transform(x)
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.33, random_state=42)
Xtrain.shape, Xtest.shape, ytrain.shape, ytest.shape

((1490, 3754), (735, 3754), (1490,), (735,))

In [9]:
model = MultinomialNB()
model.fit(Xtrain, ytrain)

MultinomialNB()

In [10]:
user = input('Entera a text: ')
data = cv.transform([user]).toarray()
output = model.predict(data)
print(output)

Entera a text: Latest Apple iPhone SE 3 concept renders show a compact smartphone in the style of the iPhone 4
['tech']