<a href="https://colab.research.google.com/github/JoaquinGonzalezSimon/Data_science_and_ML_from_Medium/blob/main/220629_Movie_Rating_Analysis_using_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### This project was taken from the following link and I use it to practice my skills

https://thecleverprogrammer.com/2021/09/22/movie-rating-analysis-using-python/

https://medium.com/coders-camp/180-data-science-and-machine-learning-projects-with-python-6191bc7b9db9

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd

In [7]:
movies = pd.read_csv('/content/drive/MyDrive/Ironhack/DBs/movie_rating_dataset/movies.dat', sep='::', header=None)
movies.head()

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

    0                                                  1                  2
0   8      Edison Kinetoscopic Record of a Sneeze (1894)  Documentary|Short
1  10                La sortie des usines Lumière (1895)  Documentary|Short
2  12                      The Arrival of a Train (1896)  Documentary|Short
3  25  The Oxford and Cambridge University Boat Race ...                NaN
4  91                         Le manoir du diable (1896)       Short|Horror

In [8]:
movies.columns = ['id', 'title', 'genre']
movies.head()

   id                                              title              genre
0   8      Edison Kinetoscopic Record of a Sneeze (1894)  Documentary|Short
1  10                La sortie des usines Lumière (1895)  Documentary|Short
2  12                      The Arrival of a Train (1896)  Documentary|Short
3  25  The Oxford and Cambridge University Boat Race ...                NaN
4  91                         Le manoir du diable (1896)       Short|Horror

In [11]:
ratings = pd.read_csv('/content/drive/MyDrive/Ironhack/DBs/movie_rating_dataset/ratings.dat', sep='::', header=None)
ratings.head()

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

   0        1  2           3
0  1   114508  8  1381006850
1  2   499549  9  1376753198
2  2  1305591  8  1376742507
3  2  1428538  1  1371307089
4  3    75314  1  1595468524

In [13]:
ratings.columns = ['user', 'id', 'ratings', 'timestamp']
ratings.head()

   user       id  ratings   timestamp
0     1   114508        8  1381006850
1     2   499549        9  1376753198
2     2  1305591        8  1376742507
3     2  1428538        1  1371307089
4     3    75314        1  1595468524

In [14]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37342 entries, 0 to 37341
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      37342 non-null  int64
 1   title   37342 non-null  object
 2   genre   37271 non-null  object
dtypes: int64(1), object(2)
memory usage: 875.3+ KB

In [15]:
movies.isnull().sum()

id        0
title     0
genre    71
dtype: int64

In [16]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 906831 entries, 0 to 906830
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user       906831 non-null  int64
 1   id         906831 non-null  int64
 2   ratings    906831 non-null  int64
 3   timestamp  906831 non-null  int64
dtypes: int64(4)
memory usage: 27.7 MB

In [17]:
data = pd.merge(movies, ratings, on=['id', 'id'])
data.head()

,id,title,genre,user,ratings,timestamp
0,8,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short,42898,5,1396981211
1,10,La sortie des usines Lumière (1895),Documentary|Short,70577,10,1412878553
2,12,The Arrival of a Train (1896),Documentary|Short,69535,10,1439248579
3,25,The Oxford and Cambridge University Boat Race ...,NaN,37628,8,1488189899
4,91,Le manoir du diable (1896),Short|Horror,5814,6,1385233195

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 908634 entries, 0 to 908633
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         908634 non-null  int64
 1   title      908634 non-null  object
 2   genre      908274 non-null  object
 3   user       908634 non-null  int64
 4   ratings    908634 non-null  int64
 5   timestamp  908634 non-null  int64
dtypes: int64(4), object(2)
memory usage: 48.5+ MB

In [23]:
rate = data.ratings.value_counts()

In [24]:
import plotly.express as px

In [25]:
number = rate.index
qty = rate.values
print(number, qty)

Int64Index([8, 7, 9, 6, 10, 5, 4, 3, 1, 2, 0], dtype='int64') [219312 203476 128749 118323 107284  68459  27779  15258  10663   9053
    278]

In [27]:
fig = px.pie(data, values=qty, names=number)
fig.show()

In [32]:
data[data['ratings'] == 10]['title'].value_counts().head(10)

Joker (2019)                       1479
Interstellar (2014)                1386
1917 (2019)                         820
Avengers: Endgame (2019)            812
The Shawshank Redemption (1994)     707
Gravity (2013)                      653
The Wolf of Wall Street (2013)      581
Hacksaw Ridge (2016)                570
Avengers: Infinity War (2018)       535
La La Land (2016)                   510
Name: title, dtype: int64