<a href="https://colab.research.google.com/github/JoaquinGonzalezSimon/Data_science_and_ML_from_Medium/blob/main/220831_Ted_Talks_Recommendation_System_using_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### This project was taken from the following link and I use it to practice my skills

https://thecleverprogrammer.com/2021/04/01/ted-talks-recommendation-system-with-machine-learning/

https://medium.com/coders-camp/180-data-science-and-machine-learning-projects-with-python-6191bc7b9db9

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('/content/drive/MyDrive/Ironhack/DBs/ted_talks.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2467 entries, 0 to 2466
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   transcript  2467 non-null   object
 1   url         2467 non-null   object
dtypes: object(2)
memory usage: 38.7+ KB

In [5]:
data.head()

,transcript,url
0,Good morning. How are you?(Laughter)It's been ...,https://www.ted.com/talks/ken_robinson_says_sc...
1,"Thank you so much, Chris. And it's truly a gre...",https://www.ted.com/talks/al_gore_on_averting_...
2,"(Music: ""The Sound of Silence,"" Simon & Garfun...",https://www.ted.com/talks/david_pogue_says_sim...
3,If you're here today — and I'm very happy that...,https://www.ted.com/talks/majora_carter_s_tale...
4,"About 10 years ago, I took on the task to teac...",https://www.ted.com/talks/hans_rosling_shows_t...

In [10]:
data['url'][0].split('/')[-1]

'ken_robinson_says_schools_kill_creativity\n'

In [11]:
data['title'] = data['url'].map(lambda x: x.split('/')[-1])

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2467 entries, 0 to 2466
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   transcript  2467 non-null   object
 1   url         2467 non-null   object
 2   title       2467 non-null   object
dtypes: object(3)
memory usage: 57.9+ KB

In [13]:
data.head()

,transcript,url,title
0,Good morning. How are you?(Laughter)It's been ...,https://www.ted.com/talks/ken_robinson_says_sc...,ken_robinson_says_schools_kill_creativity\n
1,"Thank you so much, Chris. And it's truly a gre...",https://www.ted.com/talks/al_gore_on_averting_...,al_gore_on_averting_climate_crisis\n
2,"(Music: ""The Sound of Silence,"" Simon & Garfun...",https://www.ted.com/talks/david_pogue_says_sim...,david_pogue_says_simplicity_sells\n
3,If you're here today — and I'm very happy that...,https://www.ted.com/talks/majora_carter_s_tale...,majora_carter_s_tale_of_urban_renewal\n
4,"About 10 years ago, I took on the task to teac...",https://www.ted.com/talks/hans_rosling_shows_t...,hans_rosling_shows_the_best_stats_you_ve_ever_...

In [14]:
from sklearn.feature_extraction import text

In [16]:
ted_talks = data['transcript'].tolist()

In [17]:
bi_tfidf = text.TfidfVectorizer(input=ted_talks, stop_words='english', ngram_range=(1,2))
bi_matrix = bi_tfidf.fit_transform(ted_talks)

In [18]:
uni_tfidf = text.TfidfVectorizer(input=ted_talks, stop_words='english')
uni_matrix = uni_tfidf.fit_transform(ted_talks)

In [19]:
from sklearn.metrics.pairwise import cosine_similarity

In [21]:
bi_sim = cosine_similarity(bi_matrix)
uni_sim = cosine_similarity(uni_matrix)

In [23]:
def recommend_ted_talk(x):
  return '.'.join(data['title'].loc[x.argsort()[-5:-1]])

In [24]:
data['ted_talks_uni'] = [recommend_ted_talk(x) for x in uni_sim]
data['ted_talks_bi'] = [recommend_ted_talk(x) for x in bi_sim]
print(data['ted_talks_uni'].str.replace('_', ' ').str.upper().str.strip().str.split('\n')[1])

['RORY BREMNER S ONE MAN WORLD SUMMIT', '.ALICE BOWS LARKIN WE RE TOO LATE TO PREVENT CLIMATE CHANGE HERE S HOW WE ADAPT', '.TED HALSTEAD A CLIMATE SOLUTION WHERE ALL SIDES CAN WIN', '.AL GORE S NEW THINKING ON THE CLIMATE CRISIS']