<a href="https://colab.research.google.com/github/JoaquinGonzalezSimon/Data_science_and_ML_from_Medium/blob/main/221111_Bitcoin_Price_Prediction_with_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### This project was taken from the following link and I use it to practice my skills

https://thecleverprogrammer.com/2020/05/23/bitcoin-price-prediction-with-machine-learning/

https://medium.com/coders-camp/180-data-science-and-machine-learning-projects-with-python-6191bc7b9db9

In [1]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.85-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 952 kB/s
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.85

In [2]:
import pandas as pd
import numpy as np

import yfinance as yf

In [3]:
btc = yf.Ticker('BTC-USD')
btc

yfinance.Ticker object <BTC-USD>

In [4]:
btc.history(period='max')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2014-09-17 00:00:00+00:00,465.864014,468.174011,452.421997,457.334015,21056800,0,0
2014-09-18 00:00:00+00:00,456.859985,456.859985,413.104004,424.440002,34483200,0,0
2014-09-19 00:00:00+00:00,424.102997,427.834991,384.532013,394.795990,37919700,0,0
2014-09-20 00:00:00+00:00,394.673004,423.295990,389.882996,408.903992,36863600,0,0
2014-09-21 00:00:00+00:00,408.084991,412.425995,393.181000,398.821014,26580100,0,0
...,...,...,...,...,...,...,...
2022-11-07 00:00:00+00:00,20924.621094,21053.246094,20489.972656,20602.816406,53510852236,0,0
2022-11-08 00:00:00+00:00,20600.671875,20664.607422,17603.544922,18541.271484,118992465607,0,0
2022-11-09 00:00:00+00:00,18543.761719,18590.458984,15682.692383,15880.780273,102905151606,0,0
2022-11-10 00:00:00+00:00,15883.158203,18054.312500,15834.018555,17586.771484,83202283721,0,0
2022-11-11 00:00:00+00:00,17613.328125,17646.191406,16565.859375,16694.468750,61361295360,0,0

In [7]:
data = btc.history(period='max')
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2978 entries, 2014-09-17 00:00:00+00:00 to 2022-11-11 00:00:00+00:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          2978 non-null   float64
 1   High          2978 non-null   float64
 2   Low           2978 non-null   float64
 3   Close         2978 non-null   float64
 4   Volume        2978 non-null   int64
 5   Dividends     2978 non-null   int64
 6   Stock Splits  2978 non-null   int64
dtypes: float64(4), int64(3)
memory usage: 250.7 KB

In [11]:
data.reset_index(drop=False, inplace=True)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2978 entries, 0 to 2977
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          2978 non-null   datetime64[ns, UTC]
 1   Open          2978 non-null   float64
 2   High          2978 non-null   float64
 3   Low           2978 non-null   float64
 4   Close         2978 non-null   float64
 5   Volume        2978 non-null   int64
 6   Dividends     2978 non-null   int64
 7   Stock Splits  2978 non-null   int64
dtypes: datetime64[ns, UTC](1), float64(4), int64(3)
memory usage: 186.2 KB

In [14]:
data = data[['Date', 'Close']]

In [18]:
data.drop(columns='Date', inplace=True)

In [19]:
pred_days = 30
data['prediction'] = data['Close'].shift(-pred_days)
data.head()

        Close  prediction
0  457.334015  383.757996
1  424.440002  391.441986
2  394.795990  389.545990
3  408.903992  382.845001
4  398.821014  386.475006

In [20]:
data.tail()

             Close  prediction
2973  20602.816406         NaN
2974  18541.271484         NaN
2975  15880.780273         NaN
2976  17586.771484         NaN
2977  16702.640625         NaN

In [30]:
x = np.array(data[['Close']])
x = x[:len(data)-pred_days]
x

array([[  457.33401489],
       [  424.44000244],
       [  394.79598999],
       ...,
       [19141.484375  ],
       [19051.41796875],
       [19157.4453125 ]])

In [31]:
y = np.array(data[['prediction']])
y = y[: -pred_days]
y

array([[  383.75799561],
       [  391.44198608],
       [  389.54598999],
       ...,
       [15880.78027344],
       [17586.77148438],
       [16702.640625  ]])

In [32]:
from sklearn.model_selection import train_test_split

In [38]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2)

In [39]:
xtrain.shape, ytrain.shape, xtest.shape, ytest.shape

((2358, 1), (2358, 1), (590, 1), (590, 1))

In [40]:
pred_days_array = np.array(data.drop(['prediction'],1))[-pred_days:]
pred_days_array

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

array([[19382.90429688],
       [19185.65625   ],
       [19067.63476562],
       [19268.09375   ],
       [19550.7578125 ],
       [19334.41601562],
       [19139.53515625],
       [19053.74023438],
       [19172.46875   ],
       [19208.18945312],
       [19567.0078125 ],
       [19345.57226562],
       [20095.85742188],
       [20770.44140625],
       [20285.8359375 ],
       [20595.3515625 ],
       [20818.4765625 ],
       [20635.60351562],
       [20495.7734375 ],
       [20485.2734375 ],
       [20159.50390625],
       [20209.98828125],
       [21147.23046875],
       [21282.69140625],
       [20926.48632812],
       [20602.81640625],
       [18541.27148438],
       [15880.78027344],
       [17586.77148438],
       [16702.640625  ]])

In [41]:
from sklearn.svm import SVR

In [42]:
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.00001)
svr_rbf.fit(xtrain, ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1000.0, gamma=1e-05)

In [43]:
svr_rbf_confidence = svr_rbf.score(xtest, ytest)

In [44]:
svr_rbf_confidence

0.7206564985641354

In [46]:
svm_pred = svr_rbf.predict(xtest)
svm_pred

array([ 9144.98647806,   335.84261973, 28841.44188609, 21919.23601623,
       18631.64805344, 20577.20527893, 31805.96286528,  3920.75623217,
       11337.46160033,  8819.81090811,  5250.97395057,  9421.50626225,
        1232.56419424,  8372.69353676,  9129.42958985, 17983.8521629 ,
        3985.97275578,  4210.71658664,   877.61279424, 31502.22682108,
        7567.05010759,   288.24594977,   288.50744821, 29261.34737191,
         295.66787906,  3899.66747266,  4842.33392946,  2750.71538113,
       27240.24688131,  5239.35897165, 27196.6104319 ,  9379.20640262,
       24808.14729093,  9248.91042316,  4051.95942955, 10492.80661488,
       20717.97177899,   352.51143382,   326.04645916, 10763.39081908,
         228.5870289 , 21363.64274466,   197.75792572,   204.67372734,
        1218.54499045,   194.60163733, 10162.63226633,  8116.38045761,
       20273.20884045,  8998.62560095,   771.99481039, 24555.34698272,
         418.86762815,   322.99749257, 25681.03575526,   369.25760882,
       20702.25506183, 10349.68780819,   672.71934046,  3987.94131689,
         194.13671747, 20682.28716988, 25585.33113917,  6760.10381112,
       18366.95454575,  7315.08780347, 28402.35915909,   757.53155833,
       28563.12439918,   256.3287783 ,  1090.7761135 ,   363.67655405,
        8413.29415631,   335.39677685, 23886.76905946,  9252.07655716,
         746.32010324, 30634.72559485, 28161.98667944,   488.95273441,
       29556.88354135,   601.84880806, 11402.63025054, 19749.78213053,
       18017.45604306, 17605.52783481,  6359.73696917, 19146.24288875,
       37806.34289638,  8810.98065858,  8581.92460586, 32331.32229814,
       34733.45147149,  7943.04374391, 22071.62045941,   502.81945887,
        8658.91307279, 21313.85747896, 29426.50676815,   444.68490589,
       31741.94451849, 19704.13992175,   207.52747596,   605.56365512,
       27196.1146317 ,   490.93249578,   200.08303347,  9424.80650256,
        3974.80556241,   234.21053949,  4727.45191784, 28903.12713764,
       30752.67465739, 10175.57995357, 31818.48158659,  7593.79823208,
        4992.98768584,   206.52900764,  8852.88476079,   448.9162001 ,
        6006.2499743 ,   690.33170707, 29204.67450448, 11122.1532504 ,
        9160.93319094,  9232.64755911,  7181.1022036 , 10415.49307466,
       29440.17698702,  9415.36243892,   716.02774027,  8218.65862794,
        6309.51616784,  9035.62397396, 10520.11964739,  8673.77210592,
       25552.57353913, 11169.84929457,   200.69124829, 31962.24690661,
        5643.39246772,   605.53629005,   390.46286546,   194.1359391 ,
         471.8256008 ,   328.04054326,   360.48654338, 21279.74824554,
        6411.73745327, 10158.71374166,   323.62732387,   324.29255239,
         627.74066505, 10485.23064604, 30648.62642424,  9328.69397897,
       19751.74702291, 30428.26125203,  9924.55596098,  4717.92115328,
       10955.00677947,   288.57901517,   480.59256048, 27853.38871778,
       10713.75398806,   776.35931796, 31469.54918711,   238.07875319,
         803.61103072,  9836.43210577,   637.53606248,   866.13742474,
       19275.91518525, 21167.44116332, 23111.27165995, 11093.05005455,
         808.88993504,  7606.56033391,  7246.04133794,   482.24581322,
       10402.90699715, 28422.35754805, 10062.57746987, 26006.28453309,
         196.89419635, 10318.68432093,   955.20163934, 17822.37617881,
        6294.33663589,  7538.8537086 ,  7821.69832729,   605.82125409,
       22820.88753678,  3930.8306554 ,   815.01799944, 27301.98977757,
         317.04835484,  6256.88519876, 22013.92451201, 25482.32641343,
         461.17431802, 17783.04324491,   379.89712238,  6540.85385686,
       20581.4466379 , 31729.19709272,   448.79171077,   195.14385585,
         245.08224564,  8771.61916226, 31922.69301378, 32334.02145728,
         491.58917049,   822.91070852, 10409.68830249,   195.01545784,
         229.13700027, 27371.79344229, 22440.57131123, 29766.70875391,
        1964.57322135,   226.5200197 ,   861.7328763 ,   278.26862358,
       31661.3690278 , 26724.30316816,  9522.19633   ,  1193.32879235,
       33727.99611688,  8855.20220415, 28492.97992397,  9662.36021103,
         951.50987451, 23183.31407344, 18927.06311357, 25434.30269665,
         866.70570353,  6232.68189774, 22646.26231987,   194.28271546,
       29949.12199874,  9879.65795868, 32030.07943072,   474.73562122,
        7449.81462897, 18770.1158907 , 11508.73559957,  3820.77149673,
        8965.24161824,  8214.48054759,  8754.41327877,  7566.33404613,
        8663.84919568,  6820.29645336,   637.78494621, 10354.26219541,
        9323.41138656,  9557.36275992, 20996.0666883 , 30907.58519826,
        9253.50054191, 31615.13083994,   224.34990611,  3883.03893978,
         608.99746648,  5260.56102141, 11361.33055961,   456.00056188,
        9430.29093263,   247.19414629,   607.5052487 ,   297.60145648,
         635.86007441, 10181.48440565,  8792.59650808,   344.75623793,
       10284.61695763,   460.89516358,   330.08930999,   263.15524172,
        5132.66146188,  1244.18207444, 18746.58792198,   354.66851939,
        9442.11485244,   222.29096434,   445.30035325,   266.36718863,
         211.24847459, 23175.6386779 ,   213.61227385,   196.91971265,
       21493.08028326,   722.9995702 , 21999.90111354, 17881.63971851,
         202.97032743,  7164.83942605, 32572.21776243,  8655.94344049,
       25476.02717607, 11588.71714232, 22800.11055301,   324.04632063,
         671.02344301,   500.55521116,  7524.37920605,  9526.08091137,
        8807.39708745, 22217.79083271, 23533.09538626,  6458.33866105,
        8207.69015875, 11402.40644969,  5912.22193312,   317.30827879,
       21455.8510496 ,   304.08523249,  8696.50577794,  9226.48342931,
        4047.22384827,  6300.07703946,  5110.49979253,   227.61214426,
         483.58990254,   221.10974324,  9101.1912407 , 23502.4822152 ,
       31703.49973869,  1179.53753714, 28062.46624685,  9663.76784238,
       28311.23392481,  8303.45828666,   384.54712761,   368.62100941,
        9333.13928725, 20714.70239546,   503.26481873,  5240.32677059,
         275.4533787 , 10764.48411457,  3430.76996051,  9205.9210486 ,
         196.57301066,  9173.73716959,   463.13108624,   508.25961544,
       12023.17158888, 11290.82452429,  3906.57402404,   194.25301703,
         637.03389164,  6205.48252453,   338.9129586 ,  8914.62963853,
       24622.63955837,   733.35129424,   203.11167947,  6723.66823462,
       37563.2252863 ,   603.43277257,  4121.48114675, 26112.67821685,
         652.31628029,  9469.71413022,  9311.12050654, 22882.0208028 ,
        8114.54031943,  2750.52690198,   462.05545736, 20591.33822182,
        9527.20842004, 22539.68296422,   194.18254209,   972.57426676,
        9161.53741005,   427.11554093,  9406.31687889,  7038.32904994,
       28189.82068124, 25544.36440836, 28467.14829007, 24224.53064228,
        1387.12295067, 31992.25243932, 10885.06298716,  1650.36956025,
         220.81494858, 31466.93778885,  1162.68083291,  5271.07345632,
         487.23521278, 11359.2993183 ,  8950.32499309, 29953.05390453,
         640.57951853, 29432.17535109,   194.86159653,  1173.3353236 ,
        2777.25027808,  8151.29796461, 22148.23423357,   437.30849211,
       11492.23017469,  8679.2359382 , 23144.87495202, 11483.78605253,
        8492.77408649,  6795.63937884,  1445.598664  ,   310.13905623,
       25693.22917945,   447.32852823,  9301.87071641,  8007.10582129,
        8590.59898818, 29432.01650024,  9519.53906634,  8721.67245521,
        5345.94267162,  4660.14263238, 10489.39267753,   219.72388806,
         603.94531666, 27191.25783116,   369.89119655,  1486.14038649,
         232.19166727,   370.20774928, 11360.73989595,  9512.49103693,
       10211.70075861, 30004.88498212,  6410.21015382,  8725.46387792,
         195.53879906,   475.41874472, 22324.60132887,  4282.06342554,
         511.43318282, 31810.21946258,  5268.06458563,   834.78101585,
        5347.76704859,   737.89203743, 21308.21897049,   451.57725075,
         215.58991744, 23440.43717524, 20060.05285037,  9281.61605312,
         864.36147226, 28306.44393778,  3928.4667234 ,  9498.12647082,
        5243.6491841 ,  9269.72923036,  2732.86184043,  8152.5067444 ,
        9427.2414418 ,   450.26432209,  7016.95390971,  8211.52453624,
         249.54894832,   223.46520068,  8243.39888818, 11057.21856072,
        4247.48505698,  7772.71145815, 10706.12424378, 20577.28680417,
       10252.66576175,  9131.76869754, 32292.47392793,   274.127646  ,
         858.73923016,   372.97604555,  8202.61355923,   474.19295907,
       10122.3950999 , 17545.94413759,  3899.33659596, 27858.21226897,
       10278.87077709,   223.24927296,  1176.02471997,   601.42774645,
        9304.91279251, 29055.84548201,  9283.8407915 ,  4178.12799061,
        7560.25733607,  4653.54583049,  7679.24304871,   195.78572324,
       27129.71487146,  4475.64710443, 31319.7235362 , 17228.11049493,
         295.3920487 ,  8286.4709063 ,  7726.3443895 ,   254.02909947,
        4383.19684861,   802.0246653 ,  9311.44601043,  9193.44268458,
         392.65238409,   458.96549461,  9496.28887766,   498.62833315,
         249.49460083,  1226.92551151,  6191.40493861,   451.60277403,
       11360.37805028,  7481.86268584, 21339.44089953, 30907.7844163 ,
         240.31562125,  1251.9106488 ,  6230.2321843 ,   633.83546645,
       26441.570113  ,  4541.2094828 ,   361.20294739,  4003.87209547,
       30136.15726739, 10547.41381068,  8180.44771207, 11498.77252443,
         352.66472547,  9236.90898405,  6299.12173526, 30421.30000148,
         290.90198615,   262.20965836, 30490.7916127 ,   371.84610385,
        9978.47946926,  6267.0382944 ,   409.52283501,  7258.64809271,
         379.15628058,  5247.83375445, 35724.05283305,   505.01298088,
         574.08599302,   633.36596346, 10295.85141881,  9716.09508007,
       28674.50202923,  4235.57660222, 31285.66516214,   683.84727594,
        6928.16377563,  3899.31272881, 18165.97834673, 25654.43569056,
         417.54994201,  8594.25673786,  3885.16712538,  7595.18941639,
       19687.69373463,  9209.98452025,   457.44108277, 21812.87656144,
        9459.98583913, 28766.99440053,   272.64823055,  6660.30188802,
        7616.80431175, 27120.62955123,  6281.67543835,   504.16276776,
         351.50206414, 11367.02689136,   629.80266153,   273.38592291,
        8674.59578992,  7824.76845836,   291.92457961, 33236.71300168,
       20492.87215977, 28206.01673508,  1077.53372537,   195.71561776,
       29568.72221834,   341.85966029])