<a href="https://colab.research.google.com/github/JoaquinGonzalezSimon/Data_science_and_ML_from_Medium/blob/main/230112_Instagram_Recommendation_System_with_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### This project was taken from the following link

https://thecleverprogrammer.com/2022/06/14/instagram-recommendation-system-with-machine-learning/

In [6]:
import pandas as pd
import numpy as np

from sklearn.feature_extraction import text
from sklearn.metrics.pairwise import cosine_similarity

In [7]:
data = pd.read_csv('https://raw.githubusercontent.com/amankharwal/Website-data/master/Instagram%20data.csv')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             176 non-null    object
 1   Impressions      176 non-null    int64
 2   From Home        176 non-null    int64
 3   From Hashtags    176 non-null    int64
 4   From Explore     176 non-null    int64
 5   From Other       176 non-null    int64
 6   Saves            176 non-null    int64
 7   Comments         176 non-null    int64
 8   Shares           176 non-null    int64
 9   Likes            176 non-null    int64
 10  Profile Visits   176 non-null    int64
 11  Follows          176 non-null    int64
 12  Conversion Rate  176 non-null    float64
 13  Caption          176 non-null    object
 14  Hashtags         176 non-null    object
dtypes: float64(1), int64(11), object(3)
memory usage: 20.8+ KB

In [9]:
data.isnull().sum()

Date               0
Impressions        0
From Home          0
From Hashtags      0
From Explore       0
From Other         0
Saves              0
Comments           0
Shares             0
Likes              0
Profile Visits     0
Follows            0
Conversion Rate    0
Caption            0
Hashtags           0
dtype: int64

In [10]:
data.head()

,Date,Impressions,From Home,From Hashtags,From Explore,From Other,Saves,Comments,Shares,Likes,Profile Visits,Follows,Conversion Rate,Caption,Hashtags
0,2021-12-10,3920,2586,1028,619,56,98,9,5,162,35,2,5.714286,Here are some of the most important data visua...,#finance #money #business #investing #investme...
1,2021-12-11,5394,2727,1838,1174,78,194,7,14,224,48,10,20.833333,Here are some of the best data science project...,#healthcare #health #covid #data #datascience ...
2,2021-12-12,4021,2085,1188,0,533,41,11,1,131,62,12,19.354839,Learn how to train a machine learning model an...,#data #datascience #dataanalysis #dataanalytic...
3,2021-12-13,4528,2700,621,932,73,172,10,7,213,23,8,34.782609,Here’s how you can write a Python program to d...,#python #pythonprogramming #pythonprojects #py...
4,2021-12-14,2518,1704,255,279,37,96,5,4,123,8,0,0.000000,Plotting annotations while visualizing your da...,#datavisualization #datascience #data #dataana...

In [12]:
df = data[['Caption', 'Hashtags']]
df.head()

,Caption,Hashtags
0,Here are some of the most important data visua...,#finance #money #business #investing #investme...
1,Here are some of the best data science project...,#healthcare #health #covid #data #datascience ...
2,Learn how to train a machine learning model an...,#data #datascience #dataanalysis #dataanalytic...
3,Here’s how you can write a Python program to d...,#python #pythonprogramming #pythonprojects #py...
4,Plotting annotations while visualizing your da...,#datavisualization #datascience #data #dataana...

In [13]:
caption = data['Caption'].tolist()
tfidf = text.TfidfVectorizer(input=caption, stop_words='english')
tfidf_matrix = tfidf.fit_transform(caption)
uni_sim = cosine_similarity(tfidf_matrix)

In [17]:
def recomm_post(x):
  return ', '.join(df['Caption'].loc[x.argsort()[-5:-1]])

In [18]:
df['Recommended'] = [recomm_post(x) for x in uni_sim]

<ipython-input-18-64f0ef13ece3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Recommended'] = [recomm_post(x) for x in uni_sim]

In [19]:
df.head()

,Caption,Hashtags,Recommended
0,Here are some of the most important data visua...,#finance #money #business #investing #investme...,Here are some of the most important tools that...
1,Here are some of the best data science project...,#healthcare #health #covid #data #datascience ...,Here are some of the best data science project...
2,Learn how to train a machine learning model an...,#data #datascience #dataanalysis #dataanalytic...,Data Science Use Cases: Here’s how Zomato is u...
3,Here’s how you can write a Python program to d...,#python #pythonprogramming #pythonprojects #py...,Here’s how to write a Python function to rever...
4,Plotting annotations while visualizing your da...,#datavisualization #datascience #data #dataana...,Practice these 90+ Data Science Projects For B...

In [21]:
df['Caption'].loc[uni_sim[0].argsort()[-5:-1]]

62    Here are some of the most important tools that...
88    Visualizing data is one of the most valuable s...
47    Visualizing data is one of the most valuable s...
55    Here are some of the most important data visua...
Name: Caption, dtype: object

In [28]:
uni_sim[0].argsort()[-5:-1]

array([62, 88, 47, 55])