<a href="https://colab.research.google.com/github/JoaquinGonzalezSimon/Data_science_and_ML_from_Medium/blob/main/230314_Add_Labels_to_a_Dataset_for_Sentiment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### This project was taken from the following link

https://thecleverprogrammer.com/2021/11/24/add-labels-to-a-dataset-for-sentiment-analysis/

In [1]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

import pandas as pd

In [2]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [3]:
data = pd.read_csv("https://raw.githubusercontent.com/amankharwal/Website-data/master/reviews%20data.csv")

In [4]:
data.head()

                                              Review
0  nice hotel expensive parking got good deal sta...
1  ok nothing special charge diamond member hilto...
2  nice rooms not 4* experience hotel monaco seat...
3  unique, great stay, wonderful time hotel monac...
4  great stay great stay, went seahawk game aweso...

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20491 entries, 0 to 20490
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  20491 non-null  object
dtypes: object(1)
memory usage: 160.2+ KB

In [6]:
sentiments = SentimentIntensityAnalyzer()
data['Positive'] = [sentiments.polarity_scores(i)['pos'] for i in data.Review]
data['Negative'] = [sentiments.polarity_scores(i)['neg'] for i in data.Review]
data['Neutral'] = [sentiments.polarity_scores(i)['neu'] for i in data.Review]
data['Compound'] = [sentiments.polarity_scores(i)['compound'] for i in data.Review]

In [8]:
score = data.Compound.values
sentiment = []
for i in score:
  if i >= 0.05:
    sentiment.append('Positive')
  elif i <= -0.05:
    sentiment.append('Negative')
  else:
    sentiment.append('Neutral')

In [9]:
data['Sentiments'] = sentiment

In [10]:
data.head()

,Review,Positive,Negative,Neutral,Compound,Sentiments
0,nice hotel expensive parking got good deal sta...,0.285,0.072,0.643,0.9747,Positive
1,ok nothing special charge diamond member hilto...,0.189,0.110,0.701,0.9787,Positive
2,nice rooms not 4* experience hotel monaco seat...,0.219,0.081,0.700,0.9889,Positive
3,"unique, great stay, wonderful time hotel monac...",0.385,0.060,0.555,0.9912,Positive
4,"great stay great stay, went seahawk game aweso...",0.221,0.135,0.643,0.9797,Positive

In [12]:
data.Sentiments.value_counts()

Positive    18831
Negative     1569
Neutral        91
Name: Sentiments, dtype: int64